@{
    ViewBag.Title = "Apprenticeships - My settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">TODO: My settings</h1>
    </div>
</div>
