@model object
@{
    ViewBag.Title = "Apprenticeships - Updated terms and conditions";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div role="alert" class="panel-info">
    <p id="InfoMessageText">To use this service you must accept our updated terms and conditions</p>
</div>

<div class="hgroup">
    <div class="text">
        <h1 class="heading-xlarge">Terms and conditions</h1>
        <h2 class="subtitle">Please read and accept our updated terms and conditions​</h2>
    </div>
</div>
@Html.Partial("_TermsAndConditions")
@Html.ActionLink("Accept", "AcceptTermsAndConditions", "Account", Model, new { @class = "button" })
@Html.ActionLink("Decline", "DeclineTermsAndConditions", "Account", Model, new { })