@model object
@{
    ViewBag.Title = "Apprenticeships - Updated terms and conditions";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">There have been changes to our terms and conditions</h1>
    <h2 class="heading-large">Please read and accept below:</h2>
    (David to re-work header text)
</div>
@Html.Partial("_TermsAndConditions")
@Html.ActionLink("Accept", "AcceptTermsAndConditions", "Account", Model, new { @class ="button" })
@Html.ActionLink("Decline", "DeclineTermsAndConditions", "Account", Model, new {})