@model object
@{
    ViewBag.Title = "Apprenticeships - Updated terms and conditions";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Updated Terms and conditions</h1>
</div>

<p>(David need to do copy magic here) We have updated our terms and conditions, please accept to continue.</p>

@Html.Partial("_TermsAndConditions")

@Html.ActionLink("Accept", "AcceptTermsAndConditions", "Account", Model, new { @class ="button" })
@Html.ActionLink("Decline", "DeclineTermsAndConditions", "Account", Model, new { @class = "button" })