@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.VerifyMobileViewModel

@{
    ViewBag.Title = "VerifyMobile";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>VerifyMobile</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="grid-wrapper">
            <div class="grid grid-1-2">
                <h1 class="heading-xlarge">Verify your mobile number</h1>
            </div>
            <div class="grid grid-1-2">
                <p>
                    <a href="#" class="page-link">Find an apprenticeship</a>
                </p>
            </div>
        </div>
        <p class="text">
            To receive notifications via text message, you'll need to verify your mobile
            number by entering the code that was sent to your mobile phone.
        </p>
        <div class="form-group">
            <p class="form-label">Mobile number</p>
            <span class="form-prepopped" id="enterNumber"/>
        </div>
        <div class="form-group form-group-withlink">
            <label for="enterCode" class="form-label">Enter code</label>
            <input type="text" class="form-control" id="enterCode">
        </div>
        <div class="form-group">
            <p>
                <a href="">Resend code</a>
            </p>
        </div>
        <div class="form-group">
            <a href="settings.html" class="button" id="numberVerified">Verify number</a>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
