<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReferenceData" maxReceivedMessageSize="131072">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IReferenceData1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/ReferenceData/ReferenceData51.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReferenceData"
                contract="Proxy.IReferenceData" name="BasicHttpBinding_IReferenceData" />
        </client>
    </system.serviceModel>
</configuration>