<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ActiveDirectoryConfiguration" type="SFA.Apprenticeships.Infrastructure.UserDirectory.Configuration.ActiveDirectoryConfiguration, SFA.Apprenticeships.Infrastructure.UserDirectory"  requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ConfigurationPath" value="../../app.config"/>
  </appSettings>
  <ActiveDirectoryConfiguration
		Server="server"
		DistinguishedName="distinguishedname"
		Username="username"
		Password="password"
		SecureMode="true"
		DirectoryAttributeName="unicodePwd">
  </ActiveDirectoryConfiguration>
</configuration>
