@{
    ViewBag.Title = "Service unavailable";
    ViewBag.ErrorCode = 500;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    Sorry, there appears to be an error with this page. Please refresh your browser or try navigating to <a href="/Application/Index">my applications</a>. 
</p>
