@{
    ViewBag.Title = "Apprenticeship no longer available";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text">
    <h1 class="heading-xlarge">Apprenticeship no longer available</h1>
</div>

<div class="text">
    <p>The apprenticeship you’re applying for is no longer available. This could be because it’s already been filled or was removed by the employer.</p>
</div>

<p><a href="#">Find an apprenticeship</a></p>

