<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ElasticsearchConfiguration" type="SFA.Apprenticeships.Infrastructure.Elastic.Common.Configuration.ElasticsearchConfiguration, SFA.Apprenticeships.Infrastructure.Elastic.Common"  requirePermission="false"/>
    <section name="SearchConfiguration" type="SFA.Apprenticeships.Infrastructure.VacancySearch.Configuration.SearchConfiguration, SFA.Apprenticeships.Infrastructure.VacancySearch"  requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ConfigurationPath" value="../../App.config" />
  </appSettings>
  <!--<ElasticsearchConfiguration DefaultHost="http://local.devstack.gov.uk:9200/">-->
  <ElasticsearchConfiguration DefaultHost="http://local.devstack.gov.uk:9200/">
    <Index Name="addresses" MappingType="SFA.Apprenticeships.Infrastructure.Elastic.Common.Entities.Address, SFA.Apprenticeships.Infrastructure.Elastic.Common"/>
  </ElasticsearchConfiguration>
</configuration>