<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ElasticsearchConfiguration" type="SFA.Apprenticeships.Infrastructure.Elastic.Common.Configuration.ElasticsearchConfiguration, SFA.Apprenticeships.Infrastructure.Elastic.Common" requirePermission="false" />
    <section name="SearchConfiguration" type="SFA.Apprenticeships.Infrastructure.VacancySearch.Configuration.SearchConfiguration, SFA.Apprenticeships.Infrastructure.VacancySearch" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="ConfigurationPath" value="SFA.Apprenticeships.Infrastructure.Address.PostcodeSearch.exe.config" />-->
    <add key="ConfigurationPath" value="../../App.config" />
  </appSettings>
  <!--<ElasticsearchConfiguration DefaultHost="http://localhost:9200/">-->
  <ElasticsearchConfiguration DefaultHost="http://local.devstack.gov.uk:9200/">
    <Index Name="addresses" MappingType="SFA.Apprenticeships.Infrastructure.Elastic.Common.Entities.Address, SFA.Apprenticeships.Infrastructure.Elastic.Common" />
  </ElasticsearchConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>