<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RabbitMQHosts" type="SFA.Apprenticeships.Infrastructure.RabbitMq.Configuration.RabbitMqHostsConfiguration, SFA.Apprenticeships.Infrastructure.RabbitMq"  requirePermission="false"/>
  </configSections>

  <RabbitMQHosts DefaultHost="Logging">
    <RabbitHost
			Name="Logging"
			VirtualHost="logging"
			UserName="logging"
			Password="logging"
			Durable="true"
			HostName="rabbit.host.com"
			OutputEasyNetQLogsToNLogInternal="false"
			PreFetchCount="1"/>
  </RabbitMQHosts>
</configuration>