<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <appSettings>
    <add key="ConfigurationPath" value="C:\Projects\SFA\Apprenticeships\Configuration\Applications\Shared\UnitTests\unittests.settings.config"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
