
    <div id="main">
        <section>
            <div id="content-wrapper">
              <h1>Post a vacancy</h1>
                <fieldset class="separator">
                    <legend>Authentication for user</legend>
                    <div>
                        <label>Login</label>
                        <p>
                            <label>Email address</label><input type="text" />
                            <label>Password</label><input type="password" />
                        </p>
                        <a href="#">Forgotten password</a>
                        <p class="action group">
                            <a class="button secondary" href="StartPage.html">Back</a>
                            <a class="button" href="employer/ReviewDetails.html">Continue</a>
                        </p>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>




