<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net451" />
  <package id="EasyNetQ" version="0.39.4.338" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.4.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.35" targetFramework="net451" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net451" />
</packages>