@model ForgottenPasswordViewModel

@{
    ViewBag.Title = "Apprenticeships - Forgotten password";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-large">If you can't access your account</h1>
</div>

@using (Html.BeginForm("ForgottenPassword", "Register", FormMethod.Post, new { @id = "forgotten-password-form" }))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset class="inner-block-padr">
        <div class="text">
            <h2 class="heading-medium">If you've forgotten your password</h2>
            <p>
                To reset your password we need to send you a 6-character code to your
                email address.
            </p>
        </div>
        
        @Html.FormTextFor(m => m.EmailAddress, controlHtmlAttributes: new { @class = "linked-input-master", type = "email", spellcheck = "false", autofocus = "autofocus" }, hintHtmlAttributes: new { @class = "text" }, labelText: "Enter email")

        <div class="form-group">
            <button class="button" id="forgottenpassword-button">Send code</button>
        </div>
    </fieldset>
}

<div class="text">
    <h2 class="heading-medium">If your account is locked</h2>
    <p>
        If your account is locked and you’ve been sent a code to unlock it, you
        can <a href="@Url.Action("Unlock", "Login")">enter it</a> now.
    </p>
</div>
