@model ForgottenPasswordViewModel

@{
    ViewBag.Title = "Apprenticeships - Forgotten Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgottenPassword", "Register", FormMethod.Post, new { @id = "forgotten-password-form" }))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset class="inner-block-padr">
        <legend class="heading-large">Forgotten password</legend>
        <p class="text">
            To reset your password we need to send you a 6-character code to your email address.
        </p>
        
        @Html.FormTextFor(m => m.EmailAddress, controlHtmlAttributes: new { @class = "linked-input-master", type = "email", spellcheck = "false" }, hintHtmlAttributes: new { @class = "text" }, labelText: "Enter email")

        <div class="form-group">
            <button class="button" id="forgottenpassword-button">Send code</button>
        </div>
    </fieldset>
}