@model ForgottenPasswordViewModel

@{
    ViewBag.Title = "SFA Apprenticeships - Forgotten Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgottenPassword", "Register", FormMethod.Post, new { @id = "forgotten-password-form" }))
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <fieldset class="inner-block-padr">
        <legend class="heading-large">Forgotten password</legend>
        <p class="text">
            If you've forgotten your password, enter in your email and you'll receive
            a 6 character code which will allow you to change your password
        </p>
        
        @Html.FormTextFor(m => m.EmailAddress, controlHtmlAttributes: new { @class = "linked-input-master", type = "email", spellcheck = "false" }, hintHtmlAttributes: new { @class = "text" })

        <div class="form-group">
            <button class="button" id="forgottenpassword-button">Send code</button>
        </div>
    </fieldset>
}