@model AccountUnlockViewModel

@{
    ViewBag.Title = "Apprenticeships - Account locked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="account-unlock-h1" class="heading-large">Account locked</h1>
<p class="text">You should receive a 6-character code in your email. Enter the code to unlock your account.</p>

@Html.Partial("ValidationSummary", ViewData.ModelState)

@using (Html.BeginForm("Unlock", "Login", FormMethod.Post, new { @id = "account-unlock-form" }))
{
    <div class="form-group">
        @Html.FormTextFor(
                m => m.EmailAddress,
                containerHtmlAttributes: new { @class = "form-group-withlink" },
                controlHtmlAttributes: new { type = "email", autofocus = "autofocus", spellcheck = "false" })


    </div>

    @Html.FormTextFor(
        m => m.AccountUnlockCode, 
        controlHtmlAttributes: new { @maxlength = "6" }, 
        containerHtmlAttributes: new { @class = "form-group-withlink" })
    
    <div class="form-group">
        <button class="button hide-button" type="submit" name="LoginAction:Unlock" tabindex="-1">Unlock account</button>
        <button id="ResendAccountUnlockCodeLink" type="submit" name="LoginAction:Resend" class="button-link" value="Resend" formnovalidate>Resend code</button>
        <p>
            <button class="button" id="verify-code-button" type="submit" name="LoginAction:Unlock">Unlock account</button>
        </p>
    </div>
}
