@model int

@{
    ViewBag.Title = "SFA Apprenticeships - Login/Registration Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="heading-xlarge">Login/Registration Step</h1>

<section class="section-border">
    <div class="text">
        <div class="hgroup-medium">
            <h3 class="heading-medium">This is a temporary page before login and registration is built.</h3>
            <span class="subtitle">Select a dummy profile below to test creating an application:</span>
        </div>
        <ul>
            <li><a href="@Url.Action("apply", new { id = Model, mockProfileId = 1 })">John Doe (Prepopulated sections: None)</a></li>
            <li><a href="@Url.Action("apply", new { id = Model, mockProfileId = 2 })">Susan Defoe (Prepopulated sections: Education)</a></li>
            <li><a href="@Url.Action("apply", new { id = Model, mockProfileId = 3 })">Mike Snow (Prepopulated sections: Education, About me)</a></li>
            <li><a href="@Url.Action("apply", new { id = Model, mockProfileId = 4 })">Barley Mow (Prepopulated sections: About me)</a></li>
        </ul>
    </div>
</section>


