@model int

@{
    ViewBag.Title = "SFA Apprenticeships - Login/Registration Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login/Registration Step</h2>

<p>Select a dummy profile below to use to submit the application:</p>

<ul>
    <li><a href="@Url.Action("apply", new { id = Model, profileId = 1 })">Dummy Candidate Profile - John Doe</a></li>
    <li><a href="@Url.Action("apply", new { id = Model, profileId = 2 })">Dummy Candidate Profile - Susan Defoe</a></li>
    <li><a href="@Url.Action("apply", new { id = Model, profileId = 3 })">Dummy Candidate Profile - Mike Snow</a></li>
    <li><a href="@Url.Action("apply", new { id = Model, profileId = 4 })">Dummy candidate profile - Barley Mow</a></li>
</ul>

