@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.WhatHappensNextViewModel
@{
    ViewBag.Title = "Apprenticeships - Apprenticeship application submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="success-banner">
    <h1 class="heading-large"><i class="fa fa-check"></i>Apprenticeship application submitted</h1>
    <div>
        You've applied for:
        <h2 class="heading-medium">@Html.DisplayFor(m => m.VacancyTitle) - @Html.DisplayFor(m =>m.VacancyReference)</h2>
    </div>
</div>
<section class="section-border">
    <p>
        <i class="fa fa-envelope-o"></i>We have sent you an email confirming
        your application
    </p>
</section>
<h2 class="heading-medium">What happens next</h2>
<div class="text form-group">
    <p>
        You’ll be contacted if you’ve been shortlisted for an interview. If you
        haven’t been successful the training provider will let you know and
        give you feedback.
    </p>
    <p>
        You can also <a href="@Url.Action("Index", "Application")">track the progress of your application</a> at any time.</p>
    <p>
        If you need to contact us about your application, don’t forget to quote
        the reference number.
    </p>
</div>
<div class="form-group get-started">
    <a class="button" href='@Url.Action("Index", "VacancySearch")'>Find an Apprenticeship</a>
</div>