
@{
    ViewBag.Title = "SFA Apprenticeships - What Happens Next";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="success-banner">
    <h1 class="heading-large"><i class="fa fa-check"></i>Vacancy application submitted</h1>
    <div>
        You have applied for:
        <h2 class="heading-medium">Mechnical Engineer VAC000409315</h2>
    </div>
</div>
<section class="section-border">
    <p>
        <i class="fa fa-envelope-o"></i>We have sent you an email confirming
        your application
    </p>
</section>
<h2 class="heading-medium">What happens next</h2>
<div class="text form-group">
    <p>
        You’ll be contacted if you’ve been shortlisted for an interview. If you
        haven’t been successful the learning provider will let you know and
        give you feedback.
    </p>
    <p>
        You can also track the progress of your application at any time by visiting
        your <a href="#">dashboard</a>.
    </p>
    <p>
        If you need to contact us about your application, don’t forget to quote
        the vacancy reference number.
    </p>
</div>
<div class="form-group get-started">
    <a class="button" href='@Url.Action("Search", "VacancySearch")'>Find an Apprenticeship</a>
</div>