@if (Request.IsAuthenticated)
{
    <div class="account-info sign-out" id="bannerSignedIn">
        <div>
            <i class="fa fa-sign-out"></i>@Html.ActionLink("Sign Out", "SignOut", "Login", null, new {id = "logoutLink"})
        </div>
    </div>
}
else
{
    <ul class="account-info sign-in" id="bannerSignedOut">
        <li><i class="fa fa-sign-in"></i>@Html.ActionLink("Sign In", "Index", "Login", null, new {id = "loginLink"})</li>
    </ul>
}