@if (Request.IsAuthenticated)
{
    <div class="account-info sign-out" id="bannerSignedIn">
        <div>
            <a href="@Url.Action("SignOut", "Login")" id="logoutLink" title="Sign out"><i class="fa fa-sign-out"></i>Sign out</a>
        </div>
    </div>
}
else
{
    <div class="account-info sign-in" id="bannerSignedOut">
        <a href="@Url.Action("Index", "Login")" id="loginLink" title="Sign in"><i class="fa fa-sign-in"></i>Sign in</a>
    </div>
}