@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    @RenderSection("metatags", false)
}

@section TitleLink
{
    <div class="global-header__nav">
        <div class="global-header__title"><a href="@Url.RouteUrl(CandidateRouteNames.TraineeshipSearch)">Find a traineeship</a></div>
    </div>
}

@RenderBody()

@section scripts{
    @RenderSection("scripts", false)
}