
@{
    ViewBag.Title = "SFA Apprenticeships - Vacancy Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Vacancy Not Found</h1>
    <h2 class="subtitle"></h2>
</div>

<p>The vacancy you are looking can not be found or is no longer available.</p>

<p><a href="javascript:history.back()">Back</a></p>
