@{
    ViewBag.Title = "SFA Apprenticeships - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <div class="hgroup">
            <h1 class="heading-xlarge">Your dashboard</h1>
            <span class="subtitle">Manage your applications</span>
        </div>
    </div>
</div>
