<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RabbitMQHosts" type="SFA.Apprenticeships.Infrastructure.RabbitMq.Configuration.RabbitMqHostsConfiguration, SFA.Apprenticeships.Infrastructure.RabbitMq"  requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ConfigurationPath" value="..\..\App.config" />
  </appSettings>

  <RabbitMQHosts DefaultHost="One">
    <RabbitHost
			Name="One"
			VirtualHost="testvh1"
			UserName="testun1"
			Password="testpw1"
			Port="1234"
			HostName="testhn1"
			Durable="false"
			HeartBeatSeconds="4321"
			OutputEasyNetQLogsToNLogInternal="true"
			PreFetchCount="1"
			/>
    <RabbitHost
			Name="Two"
			VirtualHost="testvh2"
			UserName="testun2"
			Password="testpw2"
			Port="1235"
			HostName="testhn2"
			Durable="true"
			HeartBeatSeconds="4322"
			OutputEasyNetQLogsToNLogInternal="false"
			PreFetchCount="1"/>
  </RabbitMQHosts>
</configuration>
