<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigurationPath" value="C:\Projects\SFA\Apprenticeships\Configuration\Applications\SFA.Apprenticeships.Common.Messaging.IntegrationTests\test.settings.config" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVacancySummary">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVacancySummary1" />
        <binding name="BasicHttpBinding_IReferenceData" maxReceivedMessageSize="131072">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IReferenceData1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/VacancySummary/VacancySummary51.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVacancySummary"
          contract="Proxy.IVacancySummary" name="BasicHttpBinding_IVacancySummary" />
      <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/ReferenceData/ReferenceData51.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReferenceData"
          contract="Proxy.IReferenceData" name="BasicHttpBinding_IReferenceData" />
    </client>
  </system.serviceModel>
</configuration>