@model SFA.Apprenticeships.Web.Candidate.ViewModels.Candidate.AboutYouViewModel

<fieldset class="fieldset-with-border">
    <legend class="heading-large">About you</legend>
    <div class="form-group text">
        <details>
            <summary role="button">Help with this section</summary>
            <p class="panel-indent">
                Think carefully about how you answer these questions. Where possible,
                keep the vacancy that you're applying for in mind, and tailor your
                answers to match the role.
            </p>
        </details>
    </div>
    <div class="form-group">
        <label for="question1" class="form-label">What are your strengths?</label>
        <span class="form-hint">For example, team working, organising</span>
        @Html.TextAreaFor(m => m.WhatAreYourStrenghs, new { @id = "question1", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="question2" class="form-label">Where do you feel you could improve?</label>
        <span class="form-hint">For example, time managing, confidence</span>
        @Html.TextAreaFor(m => m.WhatDoYouFeelYouCouldImprove, new { @id = "question2", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="question3" class="form-label">What are your hobbies/interests?</label>
        <span class="form-hint">These can include any personal achievements</span>
        @Html.TextAreaFor(m => m.WhatAreYourHobbiesInterests, new { @id = "question3", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="question4" class="form-label">Is there anything we can do to support your interview?</label>
        <span class="form-hint">For example, do you need a signer, information in braille</span>
        @Html.TextAreaFor(m => m.AnythingWeCanDoToSupportYourInterview, new { @id = "question4", @class = "form-control"})
    </div>
</fieldset>
