@model DateViewModel
<div class="form-group inline-fixed">
    <p class="form-label">Date of birth</p>
    @Html.FormTextFor(m => m.Day, containerHtmlAttributes: new { @class = "form-group-compound" }, labelHtmlAttributes: new { @class = "form-hint" }, controlHtmlAttributes: new { @class = "form-control-xsmall", type = "number", min = "1", max = "31", pattern = "[0-9]*" })
    @Html.FormTextFor(m => m.Month, containerHtmlAttributes: new { @class = "form-group-compound" }, labelHtmlAttributes: new { @class = "form-hint" }, controlHtmlAttributes: new { @class = "form-control-xsmall", type = "number", min = "1", max = "12", pattern = "[0-9]*" })
    @Html.FormTextFor(m => m.Year, containerHtmlAttributes: new { @class = "form-group-compound" }, labelHtmlAttributes: new { @class = "form-hint" }, controlHtmlAttributes: new { @class = "form-control-small", type = "number", min = DateTime.Now.Year - 100, max = DateTime.Now.Year, pattern = "[0-9]*" })
</div>