@model EducationViewModel

<fieldset class="fieldset-with-border">
    <legend class="heading-large">Education</legend>
    @Html.FormTextFor(m => m.NameOfMostRecentSchoolCollege, htmlAttributes: new { @class = "form-group-compound" })
    <div class="inline-fixed">
        @Html.FormTextFor(m => m.FromYear, htmlAttributes: new { maxlength = "4" }, textHtmlAttributes: "form-control-medium")
        @Html.FormTextFor(m => m.ToYear, htmlAttributes: new { maxlength = "4" }, textHtmlAttributes: "form-control-medium")
    </div>
</fieldset>