@model EducationViewModel

<fieldset class="fieldset-with-border">
    <legend class="heading-large">Education</legend>
    @Html.FormTextFor(m => m.NameOfMostRecentSchoolCollege, containerHtmlAttributes: new { @class = "form-group-compound" }, controlHtmlAttributes: new { autocapitalize = "words" })
    <div class="inline-fixed">
        @Html.FormTextFor(m => m.FromYear, controlHtmlAttributes: new { maxlength = "4", pattern = "[0-9]*" }, containerHtmlAttributes: new { @class = "form-control-medium" })
        @Html.FormTextFor(m => m.ToYear, controlHtmlAttributes: new { maxlength = "4", pattern = "[0-9]*" }, containerHtmlAttributes: new { @class = "form-control-medium" })
    </div>
</fieldset>