@model EmployerQuestionAnswersViewModel

@if (Model != null && (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1) || !string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1)))
{
    <fieldset class="fieldset-with-border">
        <legend class="heading-large">Employer question</legend>
        <div class="form-group text">
            <details>
                <summary role="button">Help with this section</summary>
                <p class="panel-indent">
                    The following question(s) have been added by the employer
                    for you to answer (Copy/content needed)
                </p>
            </details>
        </div>
        
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1))
        {
            @Html.FormTextAreaFor(m => m.CandidateAnswer1, labelText: Model.SupplementaryQuestion1)
        }
        
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion2))
        {
            @Html.FormTextAreaFor(m => m.CandidateAnswer2, labelText: Model.SupplementaryQuestion2)
        }
        
    </fieldset>
}