@model WorkExperienceViewModel

<fieldset class="fieldset-with-border">
    <legend class="heading-large">Work experience</legend>
    <div class="enter-work clearfix">
        <div class="form-group form-group-compound">
            <label for="work-employer" class="form-label">Employer</label>
            <input type="text" class="form-control" id="work-employer">
        </div>
        <div class="form-group form-group">
            <label for="work-title" class="form-label">Job title</label>
            <input type="text" class="form-control" id="work-title">
        </div>
        <div class="form-group form-group-compound">
            <label for="work-role" class="form-label">Describe your role</label>
            <textarea type="text" class="form-control" id="work-role"></textarea>
        </div>
        <div class="inline-fixed">
            <div class="form-group">
                <label for="work-from" class="form-label">From</label>
                <input type="text" class="form-control form-control-medium" id="work-from">
            </div>
            <div class="form-group">
                <label for="work-to" class="form-label">To</label>
                <input type="text" class="form-control form-control-medium" id="work-to">
            </div>
            <div class="form-group">
                <input id="work-current" type="checkbox">
                <label for="work-current">Current</label>
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="button save-work-btn" id="addWorkBtn">Add work</a>
        </div>
    </div>
    <div class="work-history-wrapper grid-3-4">
        <div class="grid-wrapper work-history-item">
            <div class="work-controls">
                <div class="work-edit ta-center">
                    <span class="cell-span fake-link">Edit</span>
                </div>
                <div class="work-delete ta-center">
                    <span class="cell-span">
                        <i class="ir icon-remove">Remove</i>
                    </span>
                </div>
            </div>
            <div class="grid grid-1-2">
                <table class="table-no-btm-border table-compound">
                    <colgroup>
                        <col class="t100">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <span class="heading-span">Work experience</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control toggle-content inline width-all-49 editable-work-input"
                                       value="Boots">
                                <span class="cell-span editable-work">Boots</span>
                                <span class="cell-span work-hyphen">-</span>
                                <input type="text" class="form-control toggle-content inline width-all-49 editable-work-input no-right-margin"
                                       value="Customer service">
                                <span class="cell-span editable-work">Customer service</span>
                                <div></div>
                                <textarea class="form-control toggle-content editable-work-input">Helped customers at the checkout</textarea>
                                <span class="cell-span editable-work">Helped customers at the checkout</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid grid-1-2">
                <table class="table-no-btm-border table-compound">
                    <colgroup>
                        <col class="t30">
                        <col class="t30">
                        <col class="t25">
                        <col class="t15">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <span class="heading-span">From</span>
                            </th>
                            <th>
                                <span class="heading-span">To</span>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control toggle-content editable-work-input" value="May 2012">
                                <span class="cell-span editable-work">May 2012</span>
                            </td>
                            <td>
                                <input type="text" class="form-control toggle-content editable-work-input" value="Sep 2013">
                                <span class="cell-span editable-work">Sep 2013</span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>
