<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ElasticsearchConfiguration" type="SFA.Apprenticeships.Infrastructure.Elastic.Common.Configuration.ElasticsearchConfiguration, SFA.Apprenticeships.Infrastructure.Elastic.Common"  requirePermission="false"/>
    <section name="SearchConfiguration" type="SFA.Apprenticeships.Infrastructure.VacancySearch.Configuration.SearchConfiguration, SFA.Apprenticeships.Infrastructure.VacancySearch"  requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ConfigurationPath" value="../../App.config" />
  </appSettings>
  <ElasticsearchConfiguration DefaultHost="http://someserver:1234">
    <Index Name="VacancySummaryIndex" MappingType="SFA.Apprenticeships.Infrastructure.Elastic.Common.Entities.VacancySummary, SFA.Apprenticeships.Infrastructure.Elastic.Common"/>
    <Index Name="TestMappingClassIndex" MappingType="SFA.Apprenticeships.Infrastructure.Elastic.Common.UnitTests.Configuration.TestMappingClass, SFA.Apprenticeships.Infrastructure.Elastic.Common.UnitTests"/>
  </ElasticsearchConfiguration>

  <SearchConfiguration UseJobTitleTerms="True" SearchJobTitleField="False" SearchDescriptionField="False" SearchEmployerNameField="True">
    <SearchTermFactors FieldName="JobTitle" Boost="1.1" Fuzziness="1" FuzzyPrefix="2" MatchAllKeywords="True" PhraseProximity="3" MinimumMatch="10"/>
    <SearchTermFactors FieldName="Description" Boost="1.2" Fuzziness="4" FuzzyPrefix="5" MatchAllKeywords="False" PhraseProximity="6" MinimumMatch="2&lt;50"/>
  </SearchConfiguration>

</configuration>
