@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div>
    Access to that item is restricted
</div>
<div>
    The error has been logged and will be investigated
</div>
