
@{
    ViewBag.Title = "Vacancy Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>The vanancy you are looking for is no longer available.</p>

<p><a href="javascript:history.back()">Back</a></p>

