@using System.Web.Optimization
@{ Layout = string.Empty; }

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    @* Force use of newest version of IE *@
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css/bundle")

</head>
<body class="lea">
    <div id="InitialWarningMessagePage">
        <div>
            <img class="retina-off" alt="Logo" src="@Url.Content("~/Content/_assets/img/logos/govuk-crest.png")" complete="complete" />
        </div>
        <div id="pageTitle" class="header-input">InitialWarningTitle</div>
        <div id="container">
            <div id="warningMessage">@Model.PageTitle<br /> @Model.WarningMessage</div>
            @if (Model.ShowCloseButton)
            {
                <button class="button" type="submit" onclick="closeWindow()">Close</button>
            }

        </div>
    </div>

    @if (Model != null && Model.ShowExceptionInDebug)
    {
        <div>[Note: this line will only be displayed with the DEBUG flag defined. <span><a href="~/elmah.axd">click here for the Elmah log for the error</a></span>]</div>
    }
</body>
</html>

<script type="text/javascript">
    //tdk: workaround for chrome and IE to get past the confirmation box (IE) and the non-working window.close() in chrome
    function closeWindow() {
        window.open('', '_self', '');
        window.close();
    }
</script>
