@{
    ViewBag.Title = "Application error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div>
    An application error occurred
</div>
<div>
    The error has been logged and will be investigated
</div>
