@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div>
    The URL you have requested was not found
</div>
<div>
    The error has been logged and will be investigated
</div>
