@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<p>
    The page you were looking for couldn't be found. Make sure the URL is correct before you try again.
</p>
