@{
    ViewBag.Title = "Session expired";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<p>
    Sorry, your session has expired.
</p>
<p>
    To continue you’ll need to sign in again.
</p>
    
