@{
    ViewBag.Title = "Session timed out";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div>
    Your session has timed out
</div>
<div>
    This happens for security reasons after a period of inactivity
</div>
