<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <specBind>
    <application startUrl="https://df3cc7e4484d46fb9ccb2f619fe7f2fe.cloudapp.net/" xdt:Transform="Replace"/>
    <browserFactory browserType="ChromeCanary" driverNeedsValidation="true" xdt:Transform="SetAttributes"/>
  </specBind>
</configuration>