<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <specBind>
    <application startUrl="http://ee507f711d01418ead5ed479782d4031.cloudapp.net/" xdt:Transform="Replace"/>
    <browserFactory browserType="ChromeCanary" driverNeedsValidation="true" xdt:Transform="SetAttributes"/>
  </specBind>
</configuration>