<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <specBind>
    <application startUrl="https://74d1fee441124978ad8db2869275bb14.cloudapp.net/" xdt:Transform="Replace"/>
    <browserFactory browserType="FireFox" driverNeedsValidation="true" xdt:Transform="SetAttributes"/>
  </specBind>
</configuration>