<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind" /></configSections>
  
  <appSettings>
    <add key="ConfigurationPath" value="Configs\settings.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RunVacancyNotFoundTest" value="true"/>
  </appSettings>
  <specFlow>
    
    <plugins>
      <add name="SpecBindGeneratorPlugin" type="Generator" />
    </plugins>
    <unitTestProvider name="NUnit" />
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><stepAssemblies>
      <stepAssembly assembly="SpecBind" />
    </stepAssemblies>
    <trace traceTimings="true" />
  </specFlow>
  <specBind>
    <application startUrl="https://local.candidates.gov.uk" />
    <browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="chrome" elementLocateTimeout="00:00:01" ensureCleanSession="true" pageLoadTimeout="00:01:00" driverNeedsValidation="true" reuseBrowser="true">
      <settings>
        <add name="javascript.enabled" value="true" />
      </settings>
    </browserFactory>
  <!-- For additional details on SpecBind configuration options see the project site. -->
  <!-- For additional details on SpecBind configuration options see the project site. -->
    <!--<browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="IE" />-->
</specBind>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>