<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <specBind>
    <application startUrl="https://67ccbd333c5c49a28349ede94aae7711.cloudapp.net/" xdt:Transform="Replace"/>
    <browserFactory browserType="ChromeCanary" driverNeedsValidation="true" xdt:Transform="SetAttributes"/>
  </specBind>
</configuration>