<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="ConfigurationPath" value="Configs\settings.config" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.net>
    <mailSettings>
      <smtp configSource="Configs\emailSettings.config">
      </smtp>
    </mailSettings>
  </system.net>

  <nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="SFA.Apprenticeships.Infrastructure.Logging" />
    </extensions>
    <variable name="environment" value="Local" />
    <targets async="true">
      <target xsi:type="FallbackGroup" name="fallbacklogger" returnToFirstOnSuccess="true">
        <target name="rabbit" xsi:type="RabbitMQTarget" RabbitHost="Logging" QueueName="SFA.Logging" ExchangeName="SFA.Logging" ExchangeType="topic" RoutingKey="SFA.Apprenticeships.Infrastructure.VacancyEtl.{0}" AppId="SFA.Apprenticeships.Infrastructure.VacancyEtl">
          <layout xsi:type="JsonLayout">
            <property name="application" layout="SFA.Apprenticeships.Infrastructure.VacancyEtl" />
            <property name="environment" layout="${environment}" />
            <property name="date" layout="${longdate}" />
            <property name="level" layout="${level:upperCase=true}" />
            <property name="logger" layout="${logger}" />
            <property name="machinename" layout="${machinename}" />
            <property name="processname" layout="${processname}" />
            <property name="message" layout="${message}" />
            <property name="exception" layout="${onexception:${exception:format=tostring}}" />
            <property name="stacktrace" layout="${onexception:${stacktrace:tostring}}" />
            <property name="ticks" layout="${ticks}" />
            <property name="processid" layout="${processid}" />
          </layout>
        </target>
        <target xsi:type="Mail" subject="${environment} : ${level} : ${message}" body="${message}" from="donotreply@${environment}.apprenticeships.gov.uk" to="sfa.log@valtech.co.uk" useSystemNetMailSettings="true" replaceNewlineWithBrTagInHtml="true" html="true" layout="Vacancy ETL${newline}${newline}User: ${mdc:userId}${newline}Session: ${mdc:sessionId}${newline}Logged date: ${longdate}${newline}Ticks: ${ticks}${newline}ProcessID: ${processid}${newline}Level: ${level:upperCase=true}${newline}Logger: ${logger}${newline}Machine name: ${machinename}${newline}Process name: ${processname}${newline}Message: ${message}${newline}${onexception:${exception:format=tostring}}${newline}${onexception:${stacktrace:tostring}}">

        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fallbacklogger" />
    </rules>
  </nlog>
  
</configuration>
