<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogToConsole="true" internalLogLevel="Debug" autoReload="true" internalLogFile="c:\NLog\Internal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="SFA.Apprenticeships.Infrastructure.Logging" />
  </extensions>
  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message} | ${onexception: EXCEPTION\: ${exception:format=tostring}}" />
  <variable name="verbose" value="${longdate} | ${machinename} | ${processname} | ${processid} | ${threadid} | ${level} | ${logger} | ${message} | ${onexception: EXCEPTION\: ${exception:format=tostring}}" />
  <targets async="true">
    <target name="fileLog" xsi:type="File" layout="${verbose}" fileName="${basedir}/Candidate.Web.log" archiveFileName="${basedir}/Candidate.Web.{#####}.log" archiveAboveSize="10485760" concurrentWrites="false" maxArchiveFiles="50" archiveNumbering="Rolling" />
    <target name="rabbit" xsi:type="RabbitMQTarget" RabbitHost="Logging" QueueName="SFA.Logging" ExchangeName="SFA.Logging" ExchangeType="topic" RoutingKey="SFA.Apprenticeships.Web.Candidate.{0}" AppId="SFA.Apprenticeships.Web.Candidate">
      <layout xsi:type="JsonLayout">
        <property name="user" layout="${mdc:userId}" />
        <property name="session" layout="${mdc:sessionId}" />
        <property name="application" layout="SFA.Apprenticeships.Web.Candidate" />
        <property name="date" layout="${longdate}" />
        <property name="level" layout="${level:upperCase=true}" />
        <property name="logger" layout="${logger}" />
        <property name="machinename" layout="${machinename}" />
        <property name="processname" layout="${processname}" />
        <property name="message" layout="${message}" />
        <property name="exception" layout="${onexception:${exception:format=tostring}}" />
        <property name="stacktrace" layout="${onexception:${stacktrace:tostring}}" />
      </layout>
    </target>
    <target name="debugView" xsi:type="OutputDebugString" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileLog" />
    <logger name="*" minlevel="Debug" writeTo="rabbit" />
    <logger name="*" minlevel="Debug" writeTo="debugView" />
  </rules>
</nlog>
