<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
  <appSettings>
    <add key="ShowAbout" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="true"/>
    </security>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes(errorMode)"></httpErrors>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <nlog:nlog>
    <nlog:variable name="environment" value="PROD" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    <nlog:rules>
      <nlog:logger name="*" minlevel="Info" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)"/>
    </nlog:rules>
  </nlog:nlog>
</configuration>