<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ConfigurationPath" value="Configs\settings.config" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AutoSaveTimeInMinutes" value="5" />
    <add key="ShowAbout" value="true" />
    <add key="Environment" value="Debug" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="60" protection="Encryption" slidingExpiration="true" name="User.Auth" />
    </authentication>
    <sessionState mode="Off" />
    <caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Long" duration="3600" varyByParam="none" />
          <add name="Short" duration="10" varyByParam="none" />
          <add name="Data" duration="600" varyByParam="none" />
          <add name="None" duration="0" noStore="true" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="403" redirect="~/403.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
    <!-- Windows Azure Cache session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Cache output cache provider -->
    <!--Uncomment this section to use Windows Azure Cache for output cache-->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebHost" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.13.0" newVersion="4.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpCompression>
      <staticTypes>
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="410" />
      <error statusCode="410" path="VacancyNotFound.html" responseMode="File" />
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" responseMode="File" />
      <remove statusCode="403" />
      <error statusCode="403" path="~/403.aspx" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="500.html" responseMode="File" />
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RemoveETag" type="SFA.Apprenticeships.Web.Common.Modules.RemoveETagModule, SFA.Apprenticeships.Web.Common" />
    </modules>

    <security>
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="146.66.41.151" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="193.240.137.228" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="191.235.217.94" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="172.19.4.11" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="208.51.44.100" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="77.242.202.245" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="91.229.127.193" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="80.169.55.98" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="80.169.55.102" subnetMask="255.255.255.0" />
      </ipSecurity>
    </security>

  </system.webServer>

  <dataCacheClients>
    <dataCacheClient name="default">
      <autoDiscover isEnabled="true" identifier="SFA.Apprenticeships.Web.Candidate" />
    </dataCacheClient>
  </dataCacheClients>

  <system.net>
    <mailSettings>
      <smtp configSource="Configs\emailSettings.config">
      </smtp>
    </mailSettings>
  </system.net>

  <nlog throwExceptions="true" internalLogToConsole="true" internalLogLevel="Debug" autoReload="true" internalLogFile="c:\NLog\Internal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="SFA.Apprenticeships.Infrastructure.Logging" />
    </extensions>
    <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message} | ${onexception: EXCEPTION\: ${exception:format=tostring}}" />
    <variable name="verbose" value="${longdate} | ${machinename} | ${processname} | ${processid} | ${threadid} | ${level} | ${logger} | ${message} | ${onexception: EXCEPTION\: ${exception:format=tostring}}" />
    <variable name="environment" value="Debug" />
    <targets async="true">
      <target xsi:type="FallbackGroup" name="fallbacklogger" returnToFirstOnSuccess="true">
        <target name="rabbit" xsi:type="RabbitMQTarget" RabbitHost="Logging" QueueName="SFA.Logging" ExchangeName="SFA.Logging" ExchangeType="topic" RoutingKey="SFA.Apprenticeships.Web.Candidate.{0}" AppId="SFA.Apprenticeships.Web.Candidate">
          <layout xsi:type="JsonLayout">
            <property name="user" layout="${mdc:userId}" />
            <property name="session" layout="${mdc:sessionId}" />
            <property name="application" layout="SFA.Apprenticeships.Web.Candidate" />
            <property name="environment" layout="${environment}" />
            <property name="date" layout="${longdate}" />
            <property name="level" layout="${level:upperCase=true}" />
            <property name="logger" layout="${logger}" />
            <property name="machinename" layout="${machinename}" />
            <property name="processname" layout="${processname}" />
            <property name="message" layout="${message}" />
            <property name="exception" layout="${onexception:${exception:format=tostring}}" />
            <property name="stacktrace" layout="${onexception:${stacktrace:tostring}}" />
            <property name="ticks" layout="${ticks}"/>
            <property name="processid" layout="${processid}"/>
          </layout>
        </target>
        <target name="Mail" 
                xsi:type="Mail"
                subject="NAS Error: ${message} (${level})"
                body="${message}"
                from="donotreply@apprenticeships.gov.uk"
                to="sfa.log@valtech.co.uk"
                useSystemNetMailSettings="true"
                replaceNewlineWithBrTagInHtml="true"
                html="true"
                layout="SFA.Apprenticeships.Web.Candidate${newline}${newline}User: ${mdc:userId}${newline}Session: ${mdc:sessionId}${newline}Logged date: ${longdate}${newline}Ticks: ${ticks}${newline}ProcessID: ${processid}${newline}Level: ${level:upperCase=true}${newline}Logger: ${logger}${newline}Machine name: ${machinename}${newline}Process name: ${processname}${newline}Message: ${message}${newline}${onexception:${exception:format=tostring}}${newline}${onexception:${stacktrace:tostring}}">
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fallbacklogger" />
    </rules>
  </nlog>
</configuration>
