<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd"> 
  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="true"/>
    </security>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Necessary for debugging" enabled="true" stopProcessing="true">
          <match url="^debugattach\.aspx" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Redirect to HTTPS">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="Environment" value="DEMO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <nlog:nlog>
    <nlog:variable name="environment" value="DEMO" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
  </nlog:nlog>
</configuration>