<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.255.0" />
      </ipSecurity>
    </security>
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>