<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
  <system.webServer>
    <security xdt:Transform="Remove">
      <ipSecurity allowUnlisted="true"/>
    </security>
  </system.webServer>
  <appSettings>
    <add key="Environment" value="LOCAL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog:nlog>
    <nlog:variable name="environment" value="LOCAL" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    <nlog:targets>
      <nlog:target name="fallbacklogger">
        <nlog:target name="Mail" xdt:Transform="Remove()" xdt:Locator="Match(name)"/>
      </nlog:target>
    </nlog:targets>
  </nlog:nlog>
</configuration>