<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AppSettings>
    <!-- Reference data service -->
    <add key="ReferenceDataService.Username" value="username"/>
    <add key="ReferenceDataService.Password" value="password"/>
    <add key="Test.Value" value="99"/>
  </AppSettings>
</configuration>