<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ActiveDirectoryConfiguration" type="SFA.Apprenticeships.Services.Common.ActiveDirectory.ActiveDirectoryConfigurationSection, SFA.Apprenticeships.Services.Common"  requirePermission="false"/>
  </configSections>

    <ActiveDirectoryConfiguration
      Server="server"
      DistinguishedName="distinguishedname"
      Username="username"
      Password="password">
    </ActiveDirectoryConfiguration>

  <appSettings>
    <!-- Reference data service -->
    <add key="ReferenceDataService.Username" value="username"/>
    <add key="ReferenceDataService.Password" value="password"/>
    <add key="Test.Value" value="99"/>
  </appSettings>
</configuration>