
@{
    ViewBag.Title = "Apprenticeships - Cookies disabled";
    ViewBag.ShowEuCookieDirective = false;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text">
    <h1 id="h1header" class="heading-xlarge">Enable cookies</h1>

    <p>You can’t currently access the service because your cookies have been disabled.</p>

    <p><a href="http://www.aboutcookies.org/default.aspx?page=1" rel="external">Find out how to enable cookies</a></p>

    <p>Once you’ve enabled your cookies please refresh your browser to continue.</p>

    <a role="button" class="button" href="@ViewBag.ReturnUrl">Re-check your browser settings</a>
</div>