
@{
    ViewBag.Title = "Apprenticeships";
    ViewBag.ShowEuCookieDirective = false;
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="h1header" class="heading-xlarge">TODO: Enable Cookies In Your Browser </h1>

<p>Please follow the instructions below to enable cookies on your browser and click the button below to re-check your cookie settings</p>

<a href='@ViewBag.ReturnUrl' class="button">Re-check My Settings</a>