
@{
    ViewBag.Title = "Apprenticeships - Helpdesk";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<section class="text">
    <div class="hgroup">
        <h1 class="heading-xlarge">Contact us</h1>
    </div>

    <p>Contact <a href="https://nationalcareersservice.direct.gov.uk/Pages/Home.aspx" rel="external">National Careers Service</a> (NCS) if you have a question about whether an apprenticeship is right for you.</p>

    <p>If you’re having problems applying for an apprenticeship, or have a complaint about our service, you can contact the apprenticeship helpline.</p>

    <h2 class="heading-medium">Apprenticeship helpline</h2>

    <p>Phone: 0800 015 0400 or 02476 826482</p>

    <p><a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a></p>
</section>
