
@{
    ViewBag.Title = "Apprenticeships - Helpdesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text">
    <div class="hgroup">
        <h1 class="heading-xlarge">Helpdesk</h1>
        <h2 class="subtitle">Becoming an apprentice in England</h2>
    </div>

    <p>If you’re thinking of applying, the National Careers Service has more information on the qualifications and careers apprenticeships can lead to.</p>

    <p>If you’re having problems applying for an apprenticeship, or have a complaint about our service, you can contact the apprenticeship helpline.</p>

    <h2 class="heading-medium">Apprenticeship helpline</h2>

    <p>Phone: 0800 015 0400 or 02476 826482</p>

    <p><a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a></p>
</section>
<section class="text">
    <h2 class="heading-large">Applying for an apprenticeship outside England</h2>

    <p>To be eligible for an apprenticeship in England, you must be living in England. Different organisations deal with apprenticeships in Northern Ireland, Scotland and Wales.</p>
</section>
