<h1 id="h1header">Candidate Home page</h1>

<!--<p>Session Value="@HttpContext.Current.Session["Test"]"</p>-->

<p>
    <ul>
        <li>@Html.ActionLink("Vacancy Search", "index", "vacancysearch")</li>
    </ul>
</p>


