<h1 id="h1header">Candidate Home page</h1>

<p>Blank candidate site with minimal added.</p>

<!--<p>Session Value="@HttpContext.Current.Session["Test"]"</p>-->

<p>
    <ul>
        <li>@Html.ActionLink("Admin page", "index", "admin")</li>
    </ul>
</p>


