@{
    ViewBag.Title = "Apprenticeships - Privacy and cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <h1 id="h1header" class="heading-xlarge">Privacy and cookies</h1>
    <h2 class="subtitle">Skills Funding Agency: Apprenticeship service</h2>
</div>

<section class="text">
    <h2 class="heading-large">Privacy</h2>
    <p class="no-btm-margin">
        This service is run by the Skills Funding Agency (“SFA”). We’ll handle the information you give to us according to the
        <a href="https://www.gov.uk/government/publications/sfa-privacy-notice" rel="external" target="_blank">Skills Funding Agency personal information charter</a>.
    </p>
    <p class="copy-16">Unable to open PDF? <a href="http://get.adobe.com/uk/reader/" rel="external" target="_blank">Download Acrobat</a></p>
    <p>When you register on the apprenticeship service, the personal information you give us will be used:</p>
    <ul>
        <li>so you can apply for an apprenticeship</li>
        <li>to match you to apprenticeships</li>
        <li>to help provide career support through the National Careers Service</li>
        <li>for administration and research purposes</li>
    </ul>
</section>

<section class="text">
    <h2 class="heading-medium">How long we hold your data</h2>
    <p>If you haven’t signed in for 12 months or activated your account within 30 days of registering we’ll delete your account and remove your personal details. You’ll need to register again to use the service.</p>
</section>

<section class="text">
    <h2 class="heading-large">Cookies</h2>
    <p>The apprenticeship service puts small files (known as ‘cookies’) on to your computer. Most websites do this. These cookies are used to:</p>
    <ul>
        <li>help us understand how you use the service, so we can improve it</li>
        <li>remember what notifications you’ve seen so you’re not shown them again</li>
        <li>temporarily store the information you enter (eg, your postcode)</li>
    </ul>
    <p>The cookies aren’t used to identify you personally. They’re put on to your computer to make the apprenticeship service work better for you. You can edit or delete the cookies.</p>
    <p>Find out how to <a rel="external" href="http://www.aboutcookies.org/">edit and delete cookies</a>.</p>
</section>

<section class="text">
    <h2 class="heading-medium">Webtrends analytics cookie</h2>
    <p>We use Webtrends to collect information about how you use the apprenticeship service. This information helps us to make improvements.</p>
    <p>The Webtrends analytics cookie collects and stores information about:</p>
    <ul>
        <li>the pages you visit</li>
        <li>how long you spend on each page</li>
        <li>how you got to the apprenticeship service</li>
        <li>what you click on while you’re using the service</li>
    </ul>
    <p>Webtrends isn’t allowed to use or share our analytics data with anyone, but you can <a href="http://kb.webtrends.com/articles/Information/Opting-out-of-Tracking-Cookies-1365447872915">opt out</a> if you wish.</p>
    <table>
        <colgroup>
            <col class="t20" />
            <col class="t60" />
            <col class="t20" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Expires
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                WT_FPC
            </td>
            <td>
                Measures the number and volume of visitors
            </td>
            <td>
                2 years
            </td>
        </tr>
        <tr>
            <td>
                ACOOKIE
            </td>
            <td>
                Measures the number and volume of visitors
            </td>
            <td>
                10 years
            </td>
        </tr>
        <tr>
            <td>
                WEBTRENDS_ID
            </td>
            <td>
                Measures the number and volume of visitors
            </td>
            <td>
                10 years
            </td>
        </tr>
    </table>
</section>

<section class="text">
    <h2 class="heading-medium">Google cookies</h2>
    <p>We use Google Maps to display the location of apprenticeships. Google stores two cookies on your computer for this service.</p>
    <table>
        <colgroup>
            <col class="t20" />
            <col class="t60" />
            <col class="t20" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Expires
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                PREF
            </td>
            <td>
                Allows Google to remember preferences such as language and layout.
            </td>
            <td>
                1 year
            </td>
        </tr>
        <tr>
            <td>
                NID
            </td>
            <td>
                Allows Google to customise adverts on its own websites.
            </td>
            <td>
                6 months
            </td>
        </tr>
    </table>
</section>

<section class="text">
    <h2 class="heading-medium">CloudFlare cookies</h2>
    <p>We use CloudFlare cookies to support the assets of this service.</p>
    <table>
        <colgroup>
            <col class="t20" />
            <col class="t60" />
            <col class="t20" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Expires
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                __cfduid
            </td>
            <td>
                Used to override security restrictions the user’s IP address may have.
            </td>
            <td>
                2 years
            </td>
        </tr>
        <tr>
            <td>
                _ga
            </td>
            <td>
                Allows Google to uniquely identify you as a visitor.
            </td>
            <td>
                2 years
            </td>
        </tr>
        <tr>
            <td>
                _gat
            </td>
            <td>
                Helps reduce congestion if there are too many visitors at any time. 
            </td>
            <td>
                10 minutes
            </td>
        </tr>
    </table>
</section>

<section class="text">
    <h2 class="heading-medium">Session cookies</h2>
    <p>We store session cookies on your computer to help keep your information secure while you use the apprenticeship service.</p>
    <table>
        <colgroup>
            <col class="t20" />
            <col class="t60" />
            <col class="t20" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Expires
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                User.Data
            </td>
            <td>
                Stores the session id and settings of a signed in user that are lost when the session ends.
            </td>
            <td>
                Session
            </td>
        </tr>
        <tr>
            <td>
                User.Context
            </td>
            <td>
                Stores the email address and full name of a signed in user.
            </td>
            <td>
                Session
            </td>
        </tr>
        <tr>
            <td>
                User.Auth
            </td>
            <td>
                Stores encrypted information that is used by the server to identify the signed in user.
            </td>
            <td>
                2 hours
            </td>
        </tr>
    </table>
</section>

<section class="text">
    <h2 class="heading-medium">Introductory message cookies</h2>
    <p>When you first use the apprenticeship service, you may see a pop-up ‘welcome’ message. Once you’ve seen this, we store a cookie on your computer so it knows not to show it to you again.</p>
    <table>
        <colgroup>
            <col class="t20" />
            <col class="t60" />
            <col class="t20" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Expires
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                NAS.DisplayEuCookieDirective
            </td>
            <td>
                Saves a message to let us know you've seen our cookie message.
            </td>
            <td>
                12 months
            </td>
        </tr>
        <tr>
            <td>
                NAS.CookieDetection
            </td>
            <td>
                Determines whether the user has cookies enabled.
            </td>
            <td>
                12 months
            </td>
        </tr>
    </table>
</section>