@{
    ViewBag.Title = "Apprenticeships - Terms and conditions";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Terms and conditions</h1>
</div>

@Html.Partial("_TermsAndConditions")
