@{
    ViewBag.Title = "Apprenticeships - Terms and conditions";
    Layout = "~/Views/Shared/_ApprenticeshipLayout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Terms and conditions</h1>
</div>

<section class="text">
    <p>By using this service you agree to these terms and conditions.</p>

    <h3 class="heading-large">
        Responsibility for the service
    </h3>

    <p>This service is run by the Skills Funding Agency (“SFA”).</p>

    <p>We do our best to make sure this service is constantly available, virus free and that the information we provide is accurate and complete</p>

    <p>However, the SFA accepts no liability for:</p>

    <ul>
        <li>you being unable to access the service (eg because of excessive demand or because we've taken the service down for maintenance)</li>
        <li>loss of any of data</li>
        <li>delay or failure in receiving data</li>
        <li>indirect damages arising from you using the service or relying on its content</li>
        <li>the content and availability of external websites that link to the service or which are linked from it</li>
    </ul>
</section>

<section class="text">
    <h3 class="heading-large">What happens if you misuse your account</h3>

    <p>We may delete your account if you:</p>

    <ul>
        <li>use an inappropriate email address for your username</li>
        <li>submit an application posing as someone else</li>
    </ul>
</section>
