@{
    ViewBag.Title = "Terms and conditions - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <h1 class="heading-xlarge">Terms and conditions</h1>
</div>

@Html.Partial("_TermsAndConditions")
