@model IEnumerable<SFA.Apprenticeships.Web.Common.Models.Common.ReferenceDataViewModel>

<h1 id="h1header">Legacy reference data : @ViewBag.LegacyType</h1>

<p>This is a developer page for displaying useful information.</p>

@Html.Partial("_referencedata", @Model)



