.pagination {
  display: block;
  padding-left: 0;
  margin: 20px 0;
}

.pagination:after {
    clear: both;
    content: "";
    display: table;
}

.pagination li {
    list-style: none;
    width: 50%;
}

.pagination li a {
    display: block;
    padding: 30px 10px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.pagination .PagedList-skipToPrevious {
    float: left;
}

.pagination .PagedList-skipToPrevious a {
    float: left;
}

.pagination .PagedList-skipToNext {
    float: right;
}

.pagination .PagedList-skipToNext a {
    text-align: right;
}

.pagination li.disabled {
    visibility: hidden;
}

.pagination .PagedList-pageCountAndLocation {
    display: none;
}

.pagination .PagedList-skipToPrevious a:after {
    background-color: white;
    background-image: url(../img/arrow-sprite.png);
    background-repeat: no-repeat;
    content: 'Previous page';
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    padding-left: 40px;
    top: 35%; left: 0;
}

.pagination .PagedList-skipToNext a:before {
    background-color: white;
    background-image: url(../img/arrow-sprite.png);
    background-repeat: no-repeat;
    content: 'Next page';
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    padding-right: 40px;
    top: 35%; right: 0;
}

.pagination .PagedList-skipToPrevious a:hover:after {
    background-color: #eeeeee;
}

.pagination .PagedList-skipToNext a:hover:before {
    background-color: #eeeeee;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

