@model VacancySearchResponseViewModel

@{
    ViewBag.Title = "Apprenticeships - Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string resultMessage;

    if (Model.TotalHits == 0)
    {
        resultMessage = "";
    }
    else if (Model.TotalHits == 1)
    {
        resultMessage = "There is <b class=\"bold-medium\">1</b> apprenticeship that closely matches your search";
    }
    else
    {
        resultMessage = string.Format("There are <b class=\"bold-medium\">{0}</b> apprenticeships that closely match your search", Model.TotalHits);
    }
}

<div class="search-results-wrapper grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">Search results</h1>
        <p id="vacancy-result-summary">@Html.Raw(resultMessage)</p>
    </div>

    @using (Html.BeginForm("results", "vacancysearch", FormMethod.Get))
    {
        Html.Partial("ValidationSummary", ViewData.ModelState);
        Html.RenderPartial("_searchUpdate", Model.VacancySearch);
        
        <section class="grid grid-2-3">
            @{
                if (Model.TotalHits == 0)
                {
                    <p id="search-no-results-title">There are currently no apprenticeships that match your search.</p>
                    <p>Try editing your search:</p>
                    <ul>
                        <li>using different keywords</li>
                        <li>expanding your search location</li>
                        <li>making sure all words are spelt correctly</li>
                    </ul>
                }
                else
                {
                    <div id="pagedList">
                        @{ Html.RenderPartial("_searchResults", Model); }
                    </div>
                }
            }
        </section>
    }
</div>


@section scripts
{
    <script src="~/Content/_assets/js/vendor/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/_assets/js/nas/locationAutocomplete.js" type="text/javascript"></script>
    <script>
    $("#Location").locationMatch({
        url: '@Url.Action("location", "Location")',
        longitude: '#Longitude',
        latitude: '#Latitude',
        latlonhash: '#Hash'
    });
    </script>
}
