@model SFA.Apprenticeships.Web.Candidate.ViewModels.VacancySearch.VacancySearchResponseViewModel

@{
    ViewBag.Title = "SFA Apprenticeships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-results-wrapper grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">Search results</h1>
        <p>There are <b class="bold-medium">18</b> Apprenticeships that closely match your search.</p>
    </div>
    <section class="grid grid-1-3">
        <fieldset class="search-filter">
            <legend class="heading-medium mob-collpanel-trigger">Filter results</legend>
            <div class="mob-collpanel toggle-content--mob">
                <div class="form-group">
                    <label for="job-title" class="form-label">Job title (optional)</label>
                    <input id="job-title" type="text" class="form-control" value="@Model.VacancySearch.JobTitle">
                </div>
                <div class="form-group">
                    <label for="keywords" class="form-label">Keyword (optional)</label>
                    <input id="keywords" type="text" class="form-control" value="@Model.VacancySearch.Keywords">
                </div>
                <div class="form-group">
                    <label for="location" class="form-label">Apprenticeship location</label>
                    <input id="location" type="text" class="form-control" value="@Model.VacancySearch.Location">
                </div>
                <div class="form-group">
                    <label for="loc-within" class="form-label">Within</label>
                    @Html.DropDownList()
                    <select id="loc-within">
                        <option value="">This area only</option>
                        <option value="">5 miles</option>
                        <option value="" selected>10 miles</option>
                        <option value="">15 miles</option>
                        <option value="">20 miles</option>
                        <option value="">30 miles</option>
                        <option value="">40 miles</option>
                        <option value="">Nationwide</option>
                    </select>
                </div>
                <div class="form-group">
                    <a href="#" class="button">Update results</a>
                </div>
            </div>
        </fieldset>
    </section>
    <section class="grid grid-2-3">
        <fieldset>
            <legend class="visuallyhidden">Search items</legend>
            <div class="float-right-wrap">
                <div class="form-group form-group-compound">
                    <label for="sort-results" class="heading-medium inline">Sort results</label>
                    <select name="" id="sort-results">
                        <option value="sort-distance">Distance</option>
                        <option value="sort-closing">Closing date</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <ul class="search-results">
            <li class="search-results__item section-border">
                <div class="hgroup-medium">
                    <h3 class="heading-medium"><a href="search-details.html">Mechanical Engineer – Precision Toolmaker</a></h3>
                    <h4 class="subtitle">R G Engineering</h4>
                </div>
                <p class="search-shortdesc">
                    An exciting opportunity has arisen for the right candidate to gain an engineering qualification through an apprenticeship. If you have got drive and want to learn a highly skilled trade then look no further.
                </p>
                <p>
                    <a href="search-details.html">Read more</a>
                </p>
                <div class="inl-block-wrapper">
                    <ul class="list-text btm-align width-all-2-3">
                        <li><b>Distance:</b> 5.2 miles</li>
                        <li><b>Closing date:</b> 30 Jun 14</li>
                    </ul>
                    <div class="btm-align width-all-1-3">
                        <div class="search-save">
                            <input type="checkbox" class="save-trigger" id="save-trigger1">
                            <label for="save-trigger1">Save</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="search-results__item section-border">
                <div class="hgroup-medium">
                    <h3 class="heading-medium"><a href="#">Advanced Apprenticeship in Electro-technical Installation/Maintenance</a></h3>
                    <h4 class="subtitle">Johnson Controls Ltd</h4>
                </div>
                <p class="search-shortdesc">
                    Electro-technical Engineers are responsible for the installation, maintenance, and the diagnosis and repair of faults, for a variety of Electrical Services and Equipment in commercial, industrial and retail buildings.
                </p>
                <p>
                    <a href="#">Read more</a>
                </p>
                <div class="inl-block-wrapper">
                    <ul class="list-text btm-align width-all-2-3">
                        <li><b>Distance:</b> 5.2 miles</li>
                        <li><b>Closing date:</b> 14 Jun 14</li>
                    </ul>
                    <div class="btm-align width-all-1-3">
                        <div class="search-save">
                            <input type="checkbox" class="save-trigger" id="save-trigger2">
                            <label for="save-trigger2">Save</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="search-results__item section-border">
                <div class="hgroup-medium">
                    <h3 class="heading-medium"><a href="#">Engineering Compressed Air Service Apprentice</a></h3>
                    <h4 class="subtitle">Direct Air &amp; Pipe Work Ltd</h4>
                </div>
                <p class="search-shortdesc">
                    Training to become a Compressed Air Service Engineer Once qualified working at Customers Premises around the Midlands and UK with company vehicle carrying out routine servicing/repairs of compressed air equipment.
                </p>
                <p>
                    <a href="#">Read more</a>
                </p>
                <div class="inl-block-wrapper">
                    <ul class="list-text btm-align width-all-2-3">
                        <li><b>Distance:</b> 5.2 miles</li>
                        <li><b>Closing date:</b> 18 Jun 14</li>
                    </ul>
                    <div class="btm-align width-all-1-3">
                        <div class="search-save">
                            <input type="checkbox" class="save-trigger" id="save-trigger3">
                            <label for="save-trigger3">Save</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="page-navigation">
            <a href="#" class="page-navigation__btn previous">
                <i class="arrow-button"></i>
                <span class="description">Previous <span class="hide-mob">page</span></span>
                <span class="counter">1 of 6</span>
            </a>
            <a href="#" class="page-navigation__btn next">
                <i class="arrow-button"></i>
                <span class="description">Next <span class="hide-mob">page</span></span>
                <span class="counter">3 of 6</span>
            </a>
        </div>
    </section>
</div>