<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
  <nlog:nlog>
    <nlog:variable name="environment" value="PRE" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    <nlog:rules>
      <nlog:logger name="*" minlevel="Info" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)"/>
    </nlog:rules>
  </nlog:nlog>
</configuration>
