<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogToConsole="true" internalLogLevel="Trace" internalLogFile="c:\NLog\Internal.log" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="SFA.Apprenticeships.Infrastructure.Logging" />
  </extensions>
  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message} | ${onexception: EXCEPTION\: ${exception:format=tostring}}" />
  <variable name="verbose" value="${longdate} | ${machinename} | ${processname} | ${processid} | ${threadid} | ${level} | ${logger} | ${message} | ${onexception: EXCEPTION\: ${exception:format=tostring}}" />
  <targets async="true">
    <target name="rabbit" xsi:type="RabbitMQTarget" RabbitHost="Logging" QueueName="SFA.Logging" ExchangeName="SFA.Logging" ExchangeType="topic" RoutingKey="SFA.Apprenticeships.Infrastructure.ApplicationEtl.{0}" AppId="SFA.Apprenticeships.Infrastructure.ApplicationEtl">
      <target xsi:type="Mail"
              subject="Application ETL Email Log"
              body="${message}"
              from="donotreply@apprenticeships.gov.uk"
              to="vicenc.garcia-altes@valtech.co.uk"
              useSystemNetMailSettings="true"
              replaceNewlineWithBrTagInHtml="true"
              html="true"
              layout="SFA.Apprenticeships.Web.Candidate${newline}${newline}${mdc:userId}${newline}${mdc:sessionId}${newline}${longdate}${newline}${level:upperCase=true}${newline}${logger}${newline}${machinename}${newline}${processname}${newline}${message}${newline}${onexception:${exception:format=tostring}}${newline}${onexception:${stacktrace:tostring}}">

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="rabbit" />
    <logger name="*" minlevel="Debug" writeTo="debugView" />
  </rules>
</nlog>