<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.30.2.258" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.1" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.3.0" targetFramework="net451" />
</packages>