
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_TraineeshipLayout.cshtml";
}

<h2>Overview</h2>

<p>
    <a id="prompt-traineeship-search-link" href=@Url.RouteUrl(CandidateRouteNames.TraineeshipSearch)>TODO: Find a traineeship</a>
</p>