@model TraineeshipSearchResponseViewModel

@{
    ViewBag.Title = "Apprenticeships - Results";
    Layout = "~/Views/Shared/_TraineeshipLayout.cshtml";
}

@section metatags
{
    @*Used by analytics to track succesful/unsuccessful searches*@
    <meta name="WT.oss_r" content="@Model.TotalHits" />
}

<div class="search-results-wrapper grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">Search results</h1>
        <div id="vacancy-result-summary">
            <p class="small-btm-margin">We've found <b class="bold-medium">@Model.TotalHits</b> traineeships in your selected area.</p>
        </div>
    </div>

    @using (Html.BeginRouteForm(CandidateRouteNames.TraineeshipResults, FormMethod.Get))
    {
        Html.Partial("ValidationSummary", ViewData.ModelState);
        Html.RenderPartial("_searchUpdate", Model.VacancySearch);
        <section class="grid grid-2-3">
            @{
                if (Model.TotalHits == 0)
                {
                    <p id="search-no-results-title">There are currently no traineeships that match your search.</p>
                    <p>Try editing your search:</p>
                    <ul>
                        <li>expanding your search location</li>
                        <li>making sure all words are spelt correctly</li>
                    </ul>
                }
                else
                {
                    <div id="pagedList">
                        @{ Html.RenderPartial("_searchResults", Model); }
                    </div>
                }
            }
        </section>
    }
</div>

@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    @Scripts.Render("~/bundles/nas/locationsearch")
    <script type="text/javascript" src="~/Content/_assets/js/nas/resultsMap.js"></script>
    
}