<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReferenceData">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IReferenceData1" />
                <binding name="BasicHttpBinding_IVacancySummary">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IVacancySummary1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/ReferenceData/ReferenceData51.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReferenceData"
                contract="ReferenceDataProxy.IReferenceData" name="BasicHttpBinding_IReferenceData" />
            <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/VacancySummary/VacancySummary51.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVacancySummary"
                contract="VacancySummaryProxy.IVacancySummary" name="BasicHttpBinding_IVacancySummary" />
        </client>
    </system.serviceModel>
</configuration>