@model EducationViewModel

<fieldset id="applyEducation" class="fieldset-with-border">
    <legend class="heading-large">
        Education
        @if (ViewBag.VacancyId != null)
        {
            <a class="icon-with-text" href='@Url.Action("Apply", "Application", new {id = ViewBag.VacancyId})#applyEducation'>
                <i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span>
            </a>

        }              
    </legend>
    <div class="form-group">
        <p class="form-label">Name of most recent school/college</p>
        <span class="form-prepopped">@Html.DisplayTextFor(m => m.NameOfMostRecentSchoolCollege)</span>
    </div>
    <div class="inline-fixed">
        <p class="form-label">Years attended</p>
        <div class="form-group">
            <p class="form-hint">From</p>
            <span class="form-prepopped">@Html.DisplayTextFor(m => m.FromYear)</span>
        </div>
        <div class="form-group">
            <p class="form-hint">To</p>
            <span class="form-prepopped">@Html.DisplayTextFor(m => m.ToYear)</span>
        </div>
    </div>
</fieldset>