@model EmployerQuestionAnswersViewModel

@if (Model != null && (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1) || !string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1)))
{
    <fieldset class="fieldset-with-border">
        <legend class="heading-large">
            Employer questions
            @if (ViewBag.ApplicationViewId != null)
            {
                <a class="icon-with-text" href="/application/apply/@(ViewBag.ApplicationViewId)#applyEmployerQuestionAnswers">
                    <i class="the-icon fa fa-pencil"></i>
                    <span class="the-text">Amend details</span>
                </a>
            }
        </legend>
        @*<div class="form-group text">
            <details>
                <summary role="button">Help with this section</summary>
                <p class="panel-indent">
                    The following question(s) have been added by the employer
                    for you to answer (Copy needed)
                </p>
            </details>
        </div>*@
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion1))
        {
            <div class="form-group">
                @Html.Label("CandidateAnswer1", Model.SupplementaryQuestion1, new {@class = "form-label"})
                @Html.Display("CandidateAnswer1", Model.CandidateAnswer1, new {@class = "form-control"})
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.SupplementaryQuestion2))
        {
            <div class="form-group">
                @Html.Label("CandidateAnswer2", Model.SupplementaryQuestion2, new {@class = "form-label"})
                @Html.Display("CandidateAnswer2", Model.CandidateAnswer2, new {@class = "form-control"})
            </div>
        }
    </fieldset>
}
