@model QualificationsViewModel

<fieldset class="fieldset-with-border">
    <legend class="heading-large">Qualifications</legend>
    <div class="enter-qualification clearfix">
        <div class="inline-fixed">
            <div class="form-group">
                <label for="qual-type" class="form-label">Type of qualification</label>
                <select id="qual-type">
                    <option value="">Select from list</option>
                    <option class="gcse" value="GCSE">GCSE</option>
                    <option class="as-level" value="AS Level">AS Level</option>
                    <option class="a-level" value="A Level">A Level</option>
                    <option class="btec" value="BTEC">BTEC</option>
                    <option class="nvq1" value="NVQ or SVQ Level 1">NVQ or SVQ Level 1</option>
                    <option class="nvq2" value="NVQ or SVQ Level 2">NVQ or SVQ Level 2</option>
                    <option class="nvq3" value="NVQ or SVQ Level 3">NVQ or SVQ Level 3</option>
                    <option id="otherQualOption" class="other" value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="subject-year" class="form-label">Year</label>
                <input maxlength="4" type="tel" class="form-control form-control-small" id="subject-year">
            </div>
        </div>
        <div class="other-qual-input form-group toggle-content">
            <label for="other-qual" class="form-label">Name of other qualification</label>
            <input type="text" class="form-control" id="other-qual">
        </div>
        <div class="form-group">
            <label for="qual-where" class="form-label">Name of school/college</label>
            <input id="qual-where" type="text" class="form-control">
        </div>
        <div class="form-group form-group-compound">
            <label for="subject-name" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject-name">
        </div>
        <div class="inline-fixed">
            <div class="form-group">
                <label for="subject-grade" class="form-label">Grade</label>
                <input type="text" class="form-control form-control-medium" id="subject-grade">
            </div>
            <div class="form-group">
                <input id="qual-predicted" type="checkbox">
                <label for="qual-predicted">Predicted?</label>
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="button save-qual-btn" id="saveQualification">Add qualification</a>
        </div>
    </div>
    <div class="qualifications-wrapper">
        <div class="qualification-table" id="gcse">
            <div class="hgroup-small">
                <h3 class="heading-small heading-qualType">GCSE</h3>
                <span class="subtitle subtitle-qualWhere">St Bernards School</span>
            </div>
            <table class="grid-3-4">
                <colgroup>
                    <col class="t40">
                    <col class="t25">
                    <col class="t15">
                    <col class="t10">
                    <col class="t10">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="th-qualSubject">
                            <span class="heading-span">Subject</span>
                        </th>
                        <th class="th-qualGrade">
                            <span class="heading-span">Grade</span>
                        </th>
                        <th class="th-qualYear">
                            <span class="heading-span">Year</span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-qual">
                    <tr class="tr-qualRow">
                        <td class="td-qualcell">
                            <input class="form-control qual-input-edit" type="text" value="Maths" readonly>
                        </td>
                        <td class="td-qualcell">
                            <input class="form-control qual-input-edit" type="text" value="A" readonly>
                        </td>
                        <td class="td-qualcell">
                            <input class="form-control qual-input-edit" type="text" value="2011" readonly>
                        </td>
                        <td class="td-qualEdit ta-center">
                            <span class="fake-link cell-span">Edit</span>
                        </td>
                        <td class="qualRemove ta-center">
                            <i class="cell-span"><i class="ir icon-remove">Remove</i></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

